<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.name != null}">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <link rel="stylesheet" href="/tables.css" type="text/css">
    <meta charset="UTF-8">
    <title>Diagnoses</title>
</head>
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>

<div id="main">

    <h1 th:text="${diagnosis.diagnosis}"></h1>

    <table class="table diagnosis overviewTable">
        <tr>
            <th>Diagnosis id</th>
            <th>Doctors notes</th>
            <th>Doctor</th>
        </tr>

        <tr>
            <td th:text="${diagnosis.DiagnosisNameId}"></td>
            <td th:text="${diagnosis.Note}"></td>
            <div th:each="doctor:${doctors}">
                <td th:if="${diagnosis.doctorId == doctor.id}"><span th:text="${doctor.name}"></span></td>
            </div>
        </tr>
    </table>

    <br>
    <h2>Medications Administered</h2>

    <table class="table diagnosis overviewTable">
        <tr>
            <th>Medication Name</th>
            <th>Description</th>
            <th>Side-Effects</th>
        </tr>

        <div th:each="medication:${medications}">
            <tr>
                <td th:text="${medication.name}"></td>
                <td th:text="${medication.description}"></td>
                <td th:text="${medication.sideEffects}"></td>
            </tr>
        </div>
    </table>

    <a th:if="not ${session.roleTier == 3}" class="button" th:href="@{/addmedicine/{id}/{type}(id=${diagnosis.id},type=${2})}">Add Medicine</a>

</div>
</body>
</div>
</html>