<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <link rel="stylesheet" href="/tables.css" type="text/css">
    <meta charset="UTF-8">
    <title>Diagnoses</title>
</head>
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>
<div id="main">
    <table class="table diagnosis overviewTable">
        <tr>
            <th>Diagnosis id</th>
            <th>Doctors notes</th>
        </tr>

        <tr>
            <td th:text="${diagnosis.DiagnosisNameId}"></td>
            <td th:text="${diagnosis.Note}"></td>
        </tr>
    </table>
</div>
</body>
</html>