body {
    background-color: #193c90;
    font-family: Arial,sans-serif;
}

#loginWindow {
    margin: auto;
}

#loginWindow h1 {
    text-align: center;
    font-size: 60px;
    color: white;
}

#loginWindow form {
    display: block;
    text-align: center;
}

#loginWindow form input{
    padding-top: 5px;
    margin-bottom: 12px;
}

#loginWindow form button {
    font-size: 16px;
}

#loginWindow form p {
    color: red;
    text-align: center;
}