body {
    font-family: Arial,sans-serif;
}

#overviewTable {
    border-collapse: collapse;
    width: 100%;
}

#overviewTable th, #overviewTable td {
    border: 1px solid grey;
    padding: 8px;
}

#overviewTable tr:nth-child(even) {
    background-color: darkgray;
}

#overviewTable tr:hover {
    background-color: lightblue;
}

#overviewTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: blue;
    color: white;
}

#overviewTable tr th a {
    text-decoration: none;
    color: white;
}

#overviewTable tr {
    text-align: left;
}

#overviewTable tr a {
    text-decoration: none;
}

#overviewTable .options {
    text-align: center;
}

#overviewTable .options a {
    float: left;
}