<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <link rel="stylesheet" href="/tables.css" type="text/css">
    <meta charset="UTF-8">
    <title>Consultations</title>
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>

    <div id="main">

        <h1 th:text="${consultation.conclusion}"></h1>

        <table class="table consultation overviewTable">
            <tr>
                <th>Booking number</th>
                <th>Description</th>
                <th>Date</th>
                <th>Starts at</th>
                <th>Ends at</th>
                <th>Doctor</th>
            </tr>

            <tr>
                <td th:text="${consultation.Id}"></td>
                <td th:text="${consultation.Description}"></td>
                <td th:text="${consultation.date}"></td>
                <td th:text="${consultation.FromTime}"></td>
                <td th:text="${consultation.toTime}"></td>
                <div th:each="doctor:${doctors}">
                    <td th:if="${consultation.doctorId == doctor.id}"><span th:text="${doctor.name}"></span></td>
                </div>
            </tr>

        </table>
    </div>
</body>
</html>