<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.roleTier == 1 or session.roleTier == 2}">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>

    <div id="main">

        <h1>Editing Consultation</h1>

        <form th:action="@{/{id}/consultation/editconsultation(id=${consultation.patientId})}" method="post" th:object="${Consultation}">
            <input type="hidden" th:value="${consultation.id}" name="id">
            <textarea placeholder="Description" th:text="${consultation.description}" name="description"></textarea>
            <textarea placeholder="Conclusion" th:text="${consultation.conclusion}" name="conclusion"></textarea>
            <input type="date" th:value="${consultation.date}" name="date">
            <input type="time" th:value="${consultation.fromTime}" name="fromTime">
            <input type="time" th:value="${consultation.toTime}" name="toTime">
            <select name="doctorId" >
                <optgroup label="Doctor">
                    <div th:each="doctor:${doctors}">
                        <option th:text="${doctor.name}" th:value="${doctor.id}" th:selected="${consultation.doctorId == doctor.id}"></option>
                    </div>
                </optgroup>
            </select>
            <button type="submit">Save</button>
        </form>

    </div>

</body>
</div>
</html>