<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.name != null}">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <meta charset="UTF-8">
    <title>Add Medicine</title>
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>

    <div id="main">

        <h1>Adding Medicine</h1>

        <form th:action="@{/addmedicine/{id}/{type}(id=${couplingId},type=${type})}" method="post" th:object="${Medication}">

            <select name="id">
                <optgroup label="Medications">
                    <div th:each="m_names:${medications}">
                        <option th:text="${m_names.name}" th:value="${m_names.id}"></option>
                    </div>
                </optgroup>
            </select>
            <input type="hidden" th:value="${couplingId}" name="couplingId">

            <button type="submit">Add</button>
        </form>

    </div>

</body>
</div>
</html>