<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.name != null}">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<!--  Insert Sidenav -->
<div th:replace="fragments/sidenav :: sidenav"></div>

    <div id="main">
        <div th:switch="${session.roleTier}" class="welcome">
            <h1>Welcome

            <h1 th:case="1">Admin
            <h1 th:case="2">Doctor
            <h1 th:case="3">Secretary

                <h1 th:text="${session.name}"></h1>
        </div>
    </div>

</body>
</div>
</html>