<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.name != null}">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <link rel="stylesheet" href="/patients.css" type="text/css">
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>

    <div id="main">
        <h1>Patient List</h1>

        <table id="patientTable">
            <tr>
                <th><a href="?order=1">↑</a>&emsp; Name &emsp;<a href="?order=1&reverse=true">↓</a></th>
                <th><a href="?order=2">↑</a>&emsp; Age &emsp;<a href="?order=2&reverse=true">↓</a></th>
                <th><a href="?order=3">↑</a>&emsp; Birth-Date &emsp;<a href="?order=3&reverse=true">↓</a></th>
                <th><a href="?order=4">↑</a>&emsp; CPR &emsp;<a href="?order=4&reverse=true">↓</a></th>
                <th><a href="?order=5">↑</a>&emsp; Height &emsp;<a href="?order=5&reverse=true">↓</a></th>
                <th><a href="?order=6">↑</a>&emsp; Weight &emsp;<a href="?order=6&reverse=true">↓</a></th>
                <th><a href="?order=7">↑</a>&emsp; Gender &emsp;<a href="?order=7&reverse=true">↓</a></th>
                <th>Description</th>
            </tr>

            <div th:each="patient:${patients}">
                <tr>
                        <td><p th:text="${patient.name}"></p></td>
                        <td><p th:text="${patient.age}"></p></td>
                        <td><p th:text="${patient.birthDate}"></p></td>
                        <td><p th:text="${patient.CPR}"></p></td>
                        <td><p th:text="${patient.height}"></p></td>
                        <td><p th:text="${patient.weight}"></p></td>
                        <td><p th:text="${patient.gender}"></p></td>
                        <td><p th:text="${patient.personalDescription}"></p></td>
                </tr>
            </div>
        </table>
    </div>

</body>
</div>
</html>