<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.roleTier == 1 or session.roleTier == 2}">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <meta charset="UTF-8">
    <title>Edit-Patient</title>
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>

<div id="main">

    <h1>Editing Patient:
    <h1 th:text="${patient.name}">
    </h1></h1>

    <form th:action="@{/patients/editpatient}" method="post" th:object="${Patient}">
        <input type="hidden" th:value="${patient.id}" name="id">
        <input type="text" placeholder="Name" th:value="${patient.name}" name="name">
        <input type="date" placeholder="BirthDate" th:value="${patient.birthDate}" name="birthDate">
        <input type="text" placeholder="CPR" th:value="${patient.CPR}" name="CPR">
        <input type="text" placeholder="Height" th:value="${patient.height}" name="height">
        <input type="text" placeholder="Weight" th:value="${patient.weight}" name="weight">
        <select name="gender">
            <optgroup label="Gender">
                <option value="Male" th:selected="${'Male' == patient.gender}">Male</option>
                <option value="Female" th:selected="${'Female' == patient.gender}">Female</option>
            </optgroup>
        </select>
        <textarea placeholder="Description" th:text="${patient.personalDescription}" name="personalDescription"></textarea>
        <button type="submit" class="button">Edit</button>
    </form>
</div>

</body>
</div>
</html>