<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.name != null}">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <link rel="stylesheet" href="/threeboxes.css" type="text/css">
    <meta charset="UTF-8">
    <title>Patient</title>
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>

<div id="main">

    <h1 th:text="${patient.name}"></h1>

    <div class="container">
        <div class ="box">Consultation
            <table class="table consultation">
                <div th:each="consultation:${consultations}">
                <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Options</th>
                </tr>

                <tr>
                    <td th:text="${consultation.date}"></td>
                    <td th:text="${consultation.fromTime}"></td>
                    <td th:text="${consultation.toTime}"></td>

                    <td>
                    <a class="button" th:href="@{/consultation/{id}(id=${consultation.id})}">View</a>
                    <a class="button" th:href="@{/consultation/editconsultation/{id}(id=${consultation.id})}">Edit</a>
                    <form th:action="@{/{p_id}/consultation/deleteconsultation/{id}(p_id=${patient.id},id=${consultation.id})}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                    </td>
                </tr>
                </div>
            </table>
        </div>

        <div class ="box">Prescriptions
            <table class="table prescription">
                    <tr>
                        <th>Prescription</th>
                        <th>Medicine</th>
                        <th>Options</th>
                    </tr>
                <div th:each="i : ${#numbers.sequence( 0, preMed.prescriptionList.size()-1)}">
                    <tr>
                        <td th:text="${preMed.prescriptionList[i].prescription}"></td>
                        <td th:text="${preMed.medicationList[i].name}"></td>

                        <!--<td>
                            &lt;!&ndash;<a class="button" th:href="@{/prescription/{id}(id=${prescription.id})}">View</a>&ndash;&gt;
                            &lt;!&ndash;<a class="button" th:href="@{/consultation/editconsultation/{id}(id=${consultation.id})}">Edit</a>&ndash;&gt;
                            <form th:action="@{/{p_id}/prescription/deleteprescription/{id}(p_id=${patient.id},id=${prescription.id})}" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>-->
                    </tr>
                </div>
            </table>
        </div>


        <div class ="box">Diagnosis
            <table class="table diagnosis">
                <div th:each="diagnosis:${diagnosiss}">
                    <tr>
                        <th>Diagnosis</th>
                        <th>Medicine</th>
                        <th>Options</th>
                    </tr>

                    <tr>
                        <td th:text="${diagnosis.diagnosis}"></td>
                        <td th:text="${diagnosis.medicationName}"></td>

                        <td>
                            <!--<a class="button" th:href="@{/consultation/{id}(id=${consultation.id})}">View</a>
                            <a class="button" th:href="@{/consultation/editconsultation/{id}(id=${consultation.id})}">Edit</a>-->
                            <form th:action="@{/{p_id}/diagnosis/deletediagnosis/{id}(p_id=${patient.id},id=${diagnosis.id})}" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                </div>
            </table>
        </div>
</div>
    <a th:href="@{/patient/{id}/addconsultation(id=${patient.id})}">Add consultation</a>
</div>
</body>
</div>
</html>