<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.name != null}">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <link rel="stylesheet" href="/patients.css" type="text/css">
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>

    <div id="main">
        <h1>Patient List</h1>

        <table id="patientTable">
            <div th:switch="${reverse}">
                <tr th:case="false">
                    <th><a href="?order=1&reverse=false">Name</a></th>
                    <th><a href="?order=2&reverse=false">Age</a></th>
                    <th><a href="?order=3&reverse=false">BirthDate</a></th>
                    <th><a href="?order=4&reverse=false">CPR</a></th>
                    <th><a href="?order=5&reverse=false">Height</a></th>
                    <th><a href="?order=6&reverse=false">Weight</a></th>
                    <th><a href="?order=7&reverse=false">Gender</a></th>
                    <th>Description</th>
                </tr>

                <tr th:case="true">
                    <th><a href="?order=1&reverse=true">Name</a></th>
                    <th><a href="?order=2&reverse=true">Age</a></th>
                    <th><a href="?order=3&reverse=true">BirthDate</a></th>
                    <th><a href="?order=4&reverse=true">CPR</a></th>
                    <th><a href="?order=5&reverse=true">Height</a></th>
                    <th><a href="?order=6&reverse=true">Weight</a></th>
                    <th><a href="?order=7&reverse=true">Gender</a></th>
                    <th>Description</th>
                </tr>
            </div>

            <div th:each="patient:${patients}">
                <tr>
                        <td><a th:href="@{/patient/{id}(id=${patient.id})}">
                            <p th:text="${patient.name}"></p></a></td>

                        <td><p th:text="${patient.age}"></p></td>
                        <td><p th:text="${patient.birthDate}"></p></td>
                        <td><p th:text="${patient.CPR}"></p></td>
                        <td><p th:text="${patient.height}"></p></td>
                        <td><p th:text="${patient.weight}"></p></td>
                        <td><p th:text="${patient.gender}"></p></td>
                        <td><p th:text="${patient.personalDescription}"></p></td>
                </tr>
            </div>
        </table>
    </div>

</body>
</div>
</html>