<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.name != null}">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <link rel="stylesheet" href="/threeboxes.css" type="text/css">
    <link rel="stylesheet" href="/tables.css" type="text/css">
    <meta charset="UTF-8">
    <title>Patient</title>
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>

<div id="main">

    <h1 th:text="${patient.name}"></h1>

    <div class="container">
        <div class ="box">
            <h3>Consultation</h3>
            <table class="table consultation overviewTable">
                <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Doctor</th>
                    <th>Options</th>
                </tr>
                <div th:each="consultation:${consultations}">
                <tr>
                    <td th:text="${consultation.date}"></td>
                    <td th:text="${consultation.fromTime}"></td>
                    <td th:text="${consultation.toTime}"></td>
                    <div th:each="doctor:${doctors}">
                        <td th:if="${consultation.doctorId == doctor.id}"><span th:text="${doctor.name}"></span></td>
                    </div>

                    <td>
                        <a class="button" th:href="@{/consultation/{id}(id=${consultation.id})}">View</a>
                        <a class="button" th:href="@{/consultation/editconsultation/{id}(id=${consultation.id})}">Edit</a>
                        <form th:action="@{/{p_id}/consultation/deleteconsultation/{id}(p_id=${patient.id},id=${consultation.id})}" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                </div>
            </table>
        </div>

        <div class ="box">
            <h3>Prescriptions</h3>
            <table class="table prescription overviewTable">
                    <tr>
                        <th>Prescription</th>
                        <th>Medicine</th>
                        <th>Doctor</th>
                        <th>Options</th>
                    </tr>
                <div th:each="prescription:${prescriptions}">
                    <tr>
                        <td th:text="${prescription.prescription}"></td>
                        <td th:text="${prescription.medications}"></td>

                        <div th:each="doctor:${doctors}">
                            <td th:if="${prescription.doctorId == doctor.id}"><span th:text="${doctor.name}"></span></td>
                        </div>
                        <td>
                            <a class="button" th:href="@{/prescription/{id}(id=${prescription.id})}">View</a>
                            <a class="button" th:href="@{/prescription/editprescription/{id}(id=${prescription.id})}">Edit</a>
                            <form th:action="@{/{p_id}/prescription/deleteprescription/{id}(p_id=${patient.id},id=${prescription.id})}" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                </div>
            </table>
        </div>


        <div class ="box">
            <h3>Diagnosis</h3>
            <table class="table diagnosis overviewTable">
                    <tr>
                        <th>Diagnosis</th>
                        <th>Medicine</th>
                        <th>Doctor</th>
                        <th>Options</th>
                    </tr>
                <div th:each="diagnosis:${diagnosiss}">
                    <tr>
                        <td th:text="${diagnosis.diagnosis}"></td>
                        <td th:text="${diagnosis.medications}"></td>
                        <div th:each="doctor:${doctors}">
                            <td th:if="${diagnosis.doctorId == doctor.id}"><span th:text="${doctor.name}"></span></td>
                        </div>

                        <td>
                            <a class="button" th:href="@{/diagnosis/{id}(id=${diagnosis.id})}">View</a>
                            <a class="button" th:href="@{/diagnosis/editdiagnosis/{id}(id=${diagnosis.id})}">Edit</a>
                            <form th:action="@{/{p_id}/diagnosis/deletediagnosis/{id}(p_id=${patient.id},id=${diagnosis.id})}" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                </div>
            </table>
        </div>
</div>
    <a th:href="@{/patient/{id}/addconsultation(id=${patient.id})}">Add consultation</a>
    <a th:href="@{/patient/{id}/addprescription(id=${patient.id})}">Add Prescription</a>
    <a th:href="@{/patient/{id}/adddiagnosis(id=${patient.id})}">Add Diagnosis</a>
</div>
</body>
</div>
</html>