<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:if="${session.name != null}">
<head>
    <link rel="stylesheet" href="/sidenav.css" type="text/css">
    <link rel="stylesheet" href="/tables.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<div th:replace="fragments/sidenav :: sidenav"></div>

    <div id="main">
        <h1>Patient List</h1>

        <table class="overviewTable">
                <tr>
                    <th><a th:href="@{?order=1&reverse={state}(state=${reverse})}" >Name</a></th>
                    <th><a th:href="@{?order=2&reverse={state}(state=${reverse})}">Age</a></th>
                    <th><a th:href="@{?order=3&reverse={state}(state=${reverse})}">BirthDate</a></th>
                    <th><a th:href="@{?order=4&reverse={state}(state=${reverse})}">CPR</a></th>
                    <th><a th:href="@{?order=5&reverse={state}(state=${reverse})}">Height</a></th>
                    <th><a th:href="@{?order=6&reverse={state}(state=${reverse})}">Weight</a></th>
                    <th><a th:href="@{?order=7&reverse={state}(state=${reverse})}">Gender</a></th>
                    <th>Description</th>
                    <th th:if="not ${session.roleTier == 3}">Options</th>
                </tr>

            <div th:each="patient:${patients}">
                <tr>
                        <td><a th:href="@{/patient/{id}(id=${patient.id})}">
                            <p th:text="${patient.name}"></p></a></td>

                        <td><p th:text="${patient.age}"></p></td>
                        <td><p th:text="${patient.birthDate}"></p></td>
                        <td><p th:text="${patient.CPR}"></p></td>
                        <td><p th:text="${patient.height} + ' cm'"></p></td>
                        <td><p th:text="${patient.weight} + ' kg'"></p></td>
                        <td><p th:text="${patient.gender}"></p></td>
                        <td><p th:text="${patient.personalDescription}"></p></td>

                        <td class="options" th:if="not ${session.roleTier == 3}">
                            <a th:href="@{/patients/editpatient/{id}(id=${patient.id})}"class="button" title="Edit"><i class="fas fa-edit"></i></a>

                            <form th:action="@{/patients/deletepatient/{id}(id=${patient.id})}" method="post">
                                <button type="submit" class="button" title="Delete"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                </tr>
            </div>
        </table>
                            <a class="button" th:if="not ${session.roleTier == 3}" href="/patients/addpatient">New Patient</a><i class="fas fa-plus-square"></i></button>
    </div>

</body>
</div>
</html>